In [1]:
import pandas as pd

items = pd.read_json('items.json')
items.head()

,ItemID,Category,Color,Factory,PowerSupply,PurchaseStatus,ProductionYear,Model,ServiceStatus
0,1001,Lights,White,Malaysia,Battery,Sold,2014,Light1,
1,1002,Lights,Blue,Malaysia,Battery,Sold,2014,Light1,
2,1003,Lights,Yellow,Malaysia,Battery,Sold,2014,Light1,
3,1004,Lights,Green,Malaysia,Battery,Sold,2014,Light1,
4,1005,Lights,Black,Malaysia,Battery,Sold,2014,Light1,

In [3]:
products = pd.read_json('products.json')
products

  Category  Cost ($)       Model  Price ($)  ProductID  Warranty (months)
0   Lights        20      Light1         50          1                 10
1   Lights        22      Light2         60          2                  6
2   Lights        30  SmartHome1         70          3                  8
3    Locks        30       Safe1        100          4                 10
4    Locks        50       Safe2        120          5                 10
5    Locks        50       Safe3        125          6                 10
6    Locks       100  SmartHome1        200          7                 12